<div id="{{modalName}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body row">
        <form class="form-horizontal" role="form" #msgForm='ngForm'>
          <div class="col-md-7">
            Name: <input type="text" class="form-control" >
          </div>
          
          <div class="col-md-7">
            Password:   <input type="password" class="form-control">
          </div>
        </form>
         <dynamic-component [componentData]="componentData"></dynamic-component>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="create()">Create</button>
      </div>
    </div>

  </div>
</div>